body {
    margin: 0%;
    padding: 0%;
}

.main {
    overflow-y: auto;
}

/* Navigation */

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    height: fit-content;
    background-color: #74C69D;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1175px;
    min-width: 320px;
    height: fit-content;
}

.logo-wrap {
    max-width: 99px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 70px;
    max-height: 48.31px;
    &:hover {
        cursor: pointer;
    }
}

.logo-name {
    color: white;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    &:hover {
        cursor: pointer;
    }
}

.nav-menu {
    color: white;
}

.nav-list {
    color: white;
    list-style-type: none;
    & li {
        display: inline-block;
        margin: 0 10px;
    }
}

/* navigation content */

.nav-content {
    color: white;
    max-width: 1175px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.content-wrap {
    max-width: 40%;
    height: fit-content;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-size: large;
    min-width: 160px;
    min-height: 48px;
    border: none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}