body {
  background-color: #131118fb;
  margin: 0%;
  padding: 0%;
}

a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 2 500px;
}

.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: #131118;
  border: 2px solid #1f1b2bec;
  overflow: hidden;
  z-index: 1;
}

.icon img {
  height: 100%;
  width: 4em;
}

.title {
  position: relative;
  top: 5%;
  align-self: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 15px;
  width: 20em;
}

#slogan {
  font-size: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.nav-redirect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.2rem;
  list-style-type: none;
  color: #fff;
  margin: 0%;
  padding: 0%;
}

.main {
  padding-top: 68px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  /* overflow: auto; */
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(https://www.swatch.com/dw/image/v2/BDNV_PRD/on/demandware.static/-/Library-Sites-swarp-global/default/dw3be54378/images/Swatch/brand/2023/proteam-athletes/Andy-anderson/andy-banner-d.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 32.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 350px;
  height: 400px;
  background-color:#131118;
  margin: auto 15rem;
  border-radius: 5%;
  color: white;
  font-family: "Anton", sans-serif;
  justify-content: space-evenly;
}

.login-text {
  margin-top: 10px;
  font-size: 20px;
}

.section-main {
  display: flex;
  flex-shrink: 3;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.mission {
  border: 2px solid white;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  width: 39rem;
  height: 20rem;
}

.footer-content {
  display: flex;
  flex-shrink: 3;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.card.team {
  padding: 0%;
  margin: 0%;
  background-image: url(https://i.redd.it/v3t51ptzpk571.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



/* Mobile Devices */

@media only screen and (max-width: 425px){
  .title, #slogan, .nav-links{
    display: none;
  }

  .navigation {
    justify-content: center;
  }

  .login-card {
    display: none;
  }
}


